<div class="comment">
<h1>Feedback</h1>
<form>
  {{input value=message id='message' placeholder="Your Comment Here"}}
  {{input value=name id='name' placeholder="Your Name"}}

  <button {{action 'saveFeedback'}} class = "btn btn-info">Post!</button>
</form>
</div>
