<div class = "projectPadding">

<nav>
    <div class="nav-wrapper cyan">
      <a href="#" class="brand-logo">Alex + Andys Exotic Water</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {{#link-to "cart-display"}}<li>Cart {{cart-count}}</li>{{/link-to}}
        <li><a href="collapsible.html">Login</a></li>
      </ul>
    </div>

  </nav>


{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

</div>
